.form {
  display: flex;
  flex-direction: column;
  max-inline-size: 750px;
  gap: 28px;
  background-color: var(--bg-block-dark);
  border-radius: var(--block-radius);
  padding: var(--block-pd);
}

.wrapper {
  display: flex;
  gap: 32px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 100%;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
