.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: var(--block-radius);
  padding: var(--block-pd);
  background-color: var(--bg-block-dark);
  max-inline-size: 750px;
}

.wrapper {
  display: flex;
  gap: 32px;
  flex-direction: row; 
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  inline-size: 100%;
}
