.form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 28px;
  background-color: var(--bg-color-dark);
  border-radius: var(--block-radius);
  padding: var(--block-pd);
}

.wrapper {
  display: flex;  
  gap: 32px;  
}

.imageWrapper {
  display: flex;
  flex-direction: column;  
  gap: 20px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  inline-size: 100%; 
}
