.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 282px;
  border: 2px dashed var(--color-light-grey);
  border-radius: 24px;
  padding: 23px;
  block-size: 310px;
  gap: 10px;

  &:hover {
    border-color: var(--color-accent);
  }
}

.containerWithFile {
  border: none;
  background-color: var(--bg-block-dark);
  z-index: 9999;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.description {
  color: var(--color-light-grey);
  font-size: 12px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hidden {
  opacity: 0;
  transition: .3s;
}
